* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

.logo {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 50px;
    height: auto;
    display: block;
}

.logo h4 {
    font-size: 12px;
    color: #333;
}

.navbar ul {
    list-style: none;
    background-color: whitesmoke;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a {
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    align-items: center;
}

.navbar a:hover {
    background-color: #ddd(0, 0%, 10%);
}

.navbar li {
    float: left;
}